/* DIN Round Pro Font Family */

@font-face {
  font-family: 'DIN Round Pro';
  src: url('/DIN Round Pro/dinroundpro_light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Round Pro';
  src: url('/DIN Round Pro/dinroundpro.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Round Pro';
  src: url('/DIN Round Pro/dinroundpro_medi.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Round Pro';
  src: url('/DIN Round Pro/dinroundpro_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Round Pro';
  src: url('/DIN Round Pro/dinroundpro_black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
